@import '../utils/variables';

.TodoItem_checkbox, .TodoItem_checkbox_filling, .TodoItem_checkbox_filling-checked {
  border-radius: 50px;
}

.TodoItem_checkbox {
  border: 2px solid $gray-300;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  padding: 3px;

  &:hover {
    cursor: pointer;

    & > .TodoItem_checkbox_filling, & > .TodoItem_checkbox_filling-checked {
      background: lighten($teal, 15%);
      opacity: 1;
    }
  }
}

.TodoItem_checkbox_filling, .TodoItem_checkbox_filling-checked {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: $transition-base;
}

.TodoItem_checkbox_filling-checked {
  background: lighten($cyan, 15%);
  opacity: 1;
}

.TodoItem_delete {
  opacity: 0;
  transition: $transition-base;
}

.TodoItem:hover .TodoItem_delete {
  opacity: 0.6;

  &:hover {
    opacity: 1;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}